.Nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 3vw;
  background-color: #fff;
  border-right: 1px solid black;
}
.Nav__content {
  height: fit-content;
  position: sticky;
  top: 1px;
  padding: 0 0.2vw;
}
.Nav a {
  text-align: center;
  font-size: 1.25vw;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  font-family: sans-serif;
}
.Nav__signOut, .Nav__signIn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Nav__signOut-btn, .Nav__signIn-btn {
  cursor: pointer;
  background-color: transparent;
  border: 0.16vw solid rgb(255, 157, 0);
  border-radius: 5px;
  margin: 0;
  padding: 0;
  font-size: 1vw;
}
.Nav__profilePic {
  border-radius: 50%;
  border: 0.2vw solid rgb(255, 157, 0);
  width: 2.25vw;
  height: 2.25vw;
}