.Page__statusToggle {
  width: fit-content;
  margin-left: auto;
  margin-right: 2vw;
  display: flex;
}
.Page__statusToggle > * {
  font-family: sans-serif;
}
.Page__statusToggle .TripTypeBtns {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0.75em 1em;
  background: transparent;
  color: #AD8B73;
}
.Page__statusToggle .TripTypeBtns-items {
  display: flex;
  flex-direction: row;
  position: relative;
}
.Page__statusToggle .TripTypeBtns-items > * {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.Page__statusToggle .TripTypeBtns-item {
  font-size: 0.85vw;
  padding: 0 2vw;
  padding-bottom: 0.75vw;
  margin-right: 0.25em;
  transition: color 0.06s linear;
  user-select: none;
}
.Page__statusToggle .TripTypeBtns-item:hover {
  cursor: pointer;
  color: #5f2929;
}
.Page__statusToggle .TripTypeBtns-underline {
  height: 3px;
  width: 40px;
  border-radius: 2px;
  background: #5f2929;
  position: absolute;
  bottom: 0;
  transition: transform 0.5s, width 0.1s ease-in;
}