.TripCard {
  cursor: pointer;
  margin: 2rem;
  width: fit-content;
  background-color: #C6A969;
  padding: 1rem;
  padding-bottom: 0.5rem;
  border-radius: 10px;
  color: #fff;
  box-sizing: border-box;
}
.TripCard__img img {
  width: 20rem;
  height: auto;
  border-radius: 10px;
}
.TripCard__name {
  margin: 0.5rem;
  font-family: sans-serif;
}
.TripCard__btns {
  display: flex;
}
.TripCard__btns > * {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}
.TripCard__btns-status {
  border-right: 1.5px solid #ededed;
}
.TripCard__btns-delete svg {
  color: red;
}