// Import your stylesheets if needed

.Nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
    padding-top: 3px;
  
    &__session {
      display: flex;
  
      @media (max-width: 640px) {
        display: none;
      }
  
      &__signOut {
        display: flex;
        gap: 3px;
  
        @media (min-width: 768px) {
          gap: 5px;
        }
  
        &__signOut-btn {
          border-radius: 100px;
          background-color: black;
          color: white;
        }
  
        &__profilePic {
          border-radius: 50%;
        }
      }
  
      &__signIn-btn {
        border-radius: 100px;
        background-color: black;
        color: white;
      }
    }
  
    &__hamburger {
      display: flex;
      position: relative;
  
      @media (min-width: 640px) {
        display: none;
      }
  
      &__profile {
        display: flex;
  
        &__profilePic {
          border-radius: 50%;
        }
      }
  
      &__dropdown {
        align-self: center;
  
        &__signOut-btn {
          border-radius: 100px;
          background-color: black;
          color: white;
        }
      }
    }
  }
  